*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper{
    display: flex;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(#bdc3c7, #2c3e50);
}

.title{
    margin-bottom: 20px;
    text-decoration: underline;
}

.container{
    width: 30%;
    height: 60%;
    background-image: linear-gradient(#de6262,#ffb88c);
    border-radius: 12px;
    justify-content: center;
    box-shadow: 10px 10px 40px #555;
}

.main-form{
    padding: 10px;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

#city{
    width: 150px;
    height: 25px;
    border-radius: 5px;
}

#submit{
    height: 25px;
    width: 80px;
    border-radius: 5px;
}

.weather-list{
    list-style: none;
    padding: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.list-item{
    padding: 10px;
    font-size: 25px;
    font-weight: 500;
    color: white;
}

